@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  background: #000000;
  color: #f3f4f6;
}

@keyframes float {
  0%, 100% { 
    transform: translateY(0px) rotate(0deg); 
  }
  50% { 
    transform: translateY(-20px) rotate(180deg); 
  }
}

@keyframes shine {
  0% { 
    transform: translateX(-100%); 
  }
  100% { 
    transform: translateX(200%); 
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.animate-shine {
  animation: shine 1.5s ease-in-out infinite;
}
